.divContainer{
    
}
.queryDiv{
    height:250px;
    width:300px;
    display: inline-block;
    padding:3px;
}
.showDiv,.fadeDiv,.fadeToggleDiv,.slideToggleDiv{
    height: 200px;
    width:200px;
    margin:auto;
    border:2px gray solid;
    background-color:lightcyan;
    
}
.slideDiv{
    height: 200px;
    width:200px;
    border:2px gray solid;
    background-color:lightcyan;
}

.slideSpace{
    height: 200px;
    width:200px;
    margin:auto;
}
.btnContainer{
    display: flex;
    justify-content: center;
    padding-top: 10px;
}

button{
    margin:5px;
}
/* Traversing */
.grangranpaDiv,.grangranpaDiv div{
    border:black 2px solid;
    font-size: 20px
}
.grangranpaDiv{
    width:700px;
    height:700px;
    
    padding:3px;
    position:relative;
    display: inline-block;
    float:left;
}
.granpaDiv{
    width:650px;
    height:650px;
    padding:3px;
    position: absolute;
    bottom : 0px;
}
.faDiv{
    width:600px;
    height:600px;
    padding:3px;
    position: absolute;
    bottom : 0px;
}
.onyouDiv{
    width:100px;
    height:100px;
    margin-bottom:3px;
}
.isYouDiv{
    width:230px;
    height:230px;
    padding:3px;
    margin-bottom: 3px;
    position:relative;
}
.underyouDiv{
    width:100px;
    height:100px;
    margin-bottom:3px;
}
.otherDiv{
    width:100px;
    height:100px;
}
.yourSonDiv{
    width:100px;
    height:100px;
    padding:3px;
    margin-bottom:3px;
    position:relative;
}
.yourDaughterDiv{
    width:80px;
    height:80px;
    
}
.grandsonDiv{
    width:80px;
    height:80px;
    position: absolute;
    bottom : 0px;
}

/* Traversing */
.selectDiv{
    margin-left:5px; 
    display: inline-block;
}
.sctContainer{
}
.sctTitle{
    margin-top: 10px;
    margin-bottom: 10px;
}
.sctDiv{
    width:100px;
    height:100px;
    background-color:lightgray;
    margin-right: 5px;
    display:inline-block;
    
}

.sctInfo{
    border:2px red solid;
    display: inline-block;
}
